
//@theme "/usr/share/rofi/themes/android_notification.rasi"

//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/c64.rasi"

//@theme "/usr/share/rofi/themes/purple.rasi"

@theme "/home/5ub4k3m1/.local/share/rofi/themes/rounded-purple-dark.rasi"
